name: Free RDP 16GB - NGROK SECRET FIXED NOV2025

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 1440

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Chrome (45s)
        uses: browser-actions/setup-chrome@v2

      - name: Enable RDP + Disable NLA + Password
        run: |
          Set-ItemProperty -Path '
